watch_file flake.nix
use flake

#export MESON_EXTRA_SETUP="-Db_coverage=true"
#export GENINFO_OPTIONS="--ignore-errors inconsistent,gcov"
#export LCOV_OPTIONS="--ignore-errors inconsistent,gcov"

#export CFLAGS="-Wall -Wextra -Wconversion -Wdouble-promotion -Wno-unused-parameter -Wno-unused-function -Wno-sign-conversion -fsanitize-trap --werror"
# -fsanitize=undefined,address,undefined,thread
