*~
*.lo
*.la
*.o
*.libs
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
.deps
Doxyfile
Makefile
config.h
config.log
config.status
libtool
stamp-h1
umem.spec
umem_test
umem_test1
umem_test2
umem_test3
